.container {
  display: flex;
  justify-content: center;
  position: relative;
}

.menu {
  width: 100px;
  cursor: pointer;
  /* text-align: center; */
}

.submenu {
  display: none;
  position: absolute;
  bottom: 0px;
  z-index: 1;
}

.offset-layer {
  animation-name: offset-layer;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes offset-layer {
  from {
    opacity: 0%;
  }

  to {
    transform: translateY(100%);
    opacity: 100%;
  }
}

.submenu-item:hover {
  background-color: aqua;
}

.visible {
  display: block;
}
