/* nav {
  border-bottom: 1px solid black;
} */

/* .crumbs ol {
  list-style-type: none;
  padding-left: 0;
} */

/* .crumb {
  display: inline-block;
} */

/* .crumb a::after {
  display: inline-block;
  color: #000;
  content: '>';
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
} */

.container {
  display: flex;
  justify-content: center;
  position: relative;
}

.menu {
  width: 100px;
  cursor: pointer;
  /* text-align: center; */
}

.submenu {
  display: none;
  position: absolute;
  bottom: 0px;
  z-index: 1;
}

.offset-layer {
  animation-name: offset-layer;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes offset-layer {
  from {
    /* top: 0px; */
    top: -18px;
  }

  to {
    top: 18px;
  }
}

.submenu-item:hover {
  background-color: aqua;
}

.visible {
  display: block;
}
